html,body{
    height: 100%;
    overflow: hidden;
}
html,body,div,i,em,b,strong,h1,h2,h3,h4,h5,h6,ul,li,ol{
    margin: 0;
    padding: 0;
}
b,strong,h1,h2,h3,h4,h5,h6{
    font-weight: normal;
}
ul,li,ol{
    list-style: none;
}
em,i{
    font-style: normal;
}
a{
    text-decoration: none;
}